@model IEnumerable<LMS.Models.EmployeesModels.LeavesModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Leave List Index</h1>
@if (Model == null || !Model.Any())
{
    <p>No Leaves list found.</p>
}
else
{
    <table id="tblLeavesList" class="display" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FromDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpToDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeavesType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApprovedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @item.FromDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.UpToDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeavesType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApprovedBy)
                    </td>
                    <td>
                        @item.CreatedOn.ToString("dd/MM/yyyy")
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "CreateUpdate", new { LeaveId=item.LeaveId }) |
                        @Html.ActionLink("Details", "Details", new {  LeaveId=item.LeaveId  }) |
                        @Html.ActionLink("Delete", "Delete", new { LeaveId=item.LeaveId  })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

