@model LMS.Models.EmployeesModels.EmpModel
<link href="~/css/cdnjs.cloudflare.com_ajax_libs_toastr.js_latest_toastr.min.css" rel="stylesheet" />
<script src="~/js/cdnjs.cloudflare.com_ajax_libs_toastr.js_latest_toastr.min.js"></script>
<script src="~/js/code.jquery.com_jquery-3.7.0.js"></script>
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2" style="display:none;">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class="col-sm-10" style="display:none;">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <div class="">
        @Html.Partial("ToastMessages")
    </div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.EmpId }) |
    <a asp-action="Index">Back to List</a>
</div>
